%p#notice= notice
%h1 "現場管理簿"
%table.table.table-sm.table-striped
  %thead
    %tr
      %th{:scope => "co1"} Name
      %th{:scope => "co1"} Start_time
      %th{:scope => "co1"} End_time
  %tbody
    - @meetings.each do |meeting|
      %tr
        %td= meeting.name
        %td= meeting.start_time
        %td= meeting.end_time
        %td= link_to 'Show', meeting
        %td= link_to 'Edit', edit_meeting_path(meeting)
        %td= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' }
= month_calendar events: @meetings do |date, meetings|
  = date
  = meetings.each do |meeting|
    %div
      = meeting.name
= link_to 'New Meeting', new_meeting_path
