<p id="notice"><%= notice %></p>

<h1>現場管理簿</h1>

<table class = "table table-sm table-striped">
  <thead>
    <tr>
      <th scope = "co1">現場名</th>
      <th scope = "co1">就業開始</th>
      <th scope = "co1">就業終了</th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time %></td>
        <td><%= meeting.end_time %></td>
        <td><%= link_to 'Show', meeting %></td>
        <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
      <textarea name="member" placeholder="メンバー" class="member_form"></textarea>
      
    </div>
  <% end %>

<% end %>

<%= link_to '新規作成', new_meeting_path %>
